## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [91]:
print(pow(7,4))

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [92]:
s = "Hi there Sam!"
a = s.split()

In [93]:
print(list(a))

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [94]:
planet = "Earth"
diameter = 12742
txt = "The diameter of {} is {} kilometer"

In [95]:
print(txt.format(planet,diameter))

The diameter of Earth is 12742 kilometer

** Given this nested list, use indexing to grab the word "hello" **

In [96]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [97]:
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [98]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [99]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [100]:
#Tuple is immutable, whereas list is mutable.

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [101]:
def domainGrab(email):
    return email.split('@')[-1]

In [102]:
domainGrab('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [103]:
def find(st):
    return 'dog' in st.lower().split()

In [104]:
find('The dog is a domestic animal.')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [105]:
def count(st):
    count = 0
    for arr in st.lower().split():
        if arr == 'dog':
            count += 1
    return count

In [106]:
count('The dog food is very good for dog')

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [107]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [108]:
caught_speeding(64,False)

'Small Ticket'

In [109]:
caught_speeding(64,True)

'No Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [110]:
employees = ["Prabha", "Prasath", "Praveen", "Muthuvel", "Hari", "Dinesh"]    
salary=[5000,6000,5500,5750,6000,5000]
sum = 0
for emp in employees:
  print("Salery of " + emp + " is " ,salary[employees.index(emp)])
  sum = sum + salary[employees.index(emp)]
print('Total Salary Expenditure ',sum)

Salery of Prabha is  5000
Salery of Prasath is  6000
Salery of Praveen is  5500
Salery of Muthuvel is  5750
Salery of Hari is  6000
Salery of Dinesh is  5000
Total Salary Expenditure  33250

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [111]:
def Merge(dic1, dic2):
    return dic2.update(dic1)
dic1 = {'EmpID': 1001, 'EmpName': 'prasath', 'BasicPay': 50000}
dic2 = {'DeptName': 'Analytics', 'DeptID': 3}
print(Merge(dic1, dic2))
print(dic2)

None
{'DeptName': 'Analytics', 'DeptID': 3, 'EmpID': 1001, 'EmpName': 'prasath', 'BasicPay': 50000}